<div class="banner">
  <div class="banner-content">
    <p>you look like you could use a drink</p>
    <p>we can help</p>
  </div>
</div>
<div class="card-container">


  <% @cocktails.each do |c| %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path c.photo, height: 300, width: 400, crop: :fill %>')">
      <!-- <div class="card-cover">
      </div> -->
      <%= link_to c.name, cocktail_path(c), class: "card-cover" %>

  </div>
  <%end%>

</div>
<%= link_to "Add a New Cocktail", new_cocktail_path, class: "btn btn-primary"%>
