<div class="banner" style="">
  <div class="banner-content">
    <p>you look like you could use a drink</p>
    <p>we can help</p>
  </div>
</div>
<div class="card-container">
  <div class="row">


    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path c.photo, height: 300, width: 400, crop: :fill %>')">
          <!-- <div class="card-cover">
          </div> -->
          <%= link_to c.name, cocktail_path(c), class: "card-cover" %>
      </div>
    </div>
    <%end%>


  </div>
</div>

<div class="banner">
  <div class="banner-content">
    <%= link_to "make your own", new_cocktail_path, class: "button"%>
  </div>
</div>
