.card-container {
    display: flex;
    background: black;
    justify-content: space-around;

    // padding: 1rem;
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // grid-gap: 1rem;
}
